@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');

.navbar-title {
    margin-left: 20px;
    font-size: 30px;
}


.navbar-text2 {
    font-size: 35px;
    color: black;
    font-family: Ubuntu sans-serif;
}

.navbar-text3 {
    font-size: 30px;
    font-family: Ubuntu sans-serif;
}
